domain {
   sizeX 62;
   sizeY 62;
   sizeZ 62;
 }

 parameters {
   omega 1.9;
   cSmagorinsky 0.03;
   alpha 1;
   beta 1;
   k 0.01;
   smokeTemp 2500;
   ambTemp 300;
   maxSteps 1201;
   g_x 0;
   g_y -9.81;
   g_z 0;
 }

particles {
    updateTimeChart caca.txt;

    emitter {
        xStart 1;
        xEnd 5;
        yStart 1;
        yEnd 5;
        zStart 1;
        zEnd 5;
        temp 2000;
        fuel 5000;
        emitThreshold 50;
        fuelConsumption 1;
        lifetimeCoeff 1;
     }
}



irrlicht {
sizeBase 100;
sizeVar 100;
xRes 512;
yRes 512;
dynamicLights 0;
camera fps;
numSprites 1;

texture {
file Fireball.png;
}
}

 vtk {
   vtkFileName vtk/outflow_60_60_60_1.9_0.03_1201_25;
   vtkStep 25;
 }

 boundaries {
   top {
     outflow {
       xStart  1;
       xEnd   60;
       zStart  1;
       zEnd   60;
     }
   }
   bottom {
     inflow {
       xStart 26;
       xEnd 35;
       zStart 26;
       zEnd 35;
       u_x 0.0;
       u_y 0.0;
       u_z 0.1;
     }
   }
   left {
     inflow {
       zStart 2;
       zEnd 59;
       yStart 2;
       yEnd 59;
       u_x 0.001;
       u_y 0.0;
       u_z 0.0;
     }
   }
   right {
    outflow {
       zStart 2;
       zEnd 59;
       yStart 2;
       yEnd 59;
     }
   }
   back {
     outflow {
       xStart 1;
       xEnd 60;
       yStart 2;
       yEnd 59;
     }
   }
   front {
     outflow {
       xStart 1;
       xEnd 60;
       yStart 2;
       yEnd 59;
     }
   }
 }